<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/fontawesome.min.css" integrity="sha512-lauN4D/0AgFUGvmMR+knQnbOADyD/XuQ8VF18I8Ll0+TLvsujshyxvU+uzogmQbSq6qJd5jnUdYtK8ShxXMlSg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<style>
    /* ===== Footer ===== */
    footer {
        text-align: center;
        background-color: #343a40;
        color: white;
        padding: 10px;
    }

    .follow {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .follow a {
        text-decoration: none;
    }

    .follow a i {
        font-size: 40px;
        color: #cc2165;
    }
</style>
<footer>
    <h5>Developer: Abhishek Kumar & Team.</h5>
    <h6>You can reach us also on social media's.</h6>
    <div class="follow">
        <a href="https:/instagram.com/abhishek_7o1" target="_blank"><i class='bx bxl-instagram'></i></a> &nbsp;
        &nbsp;
        <a href="https://github.com/abhishek23gecv" target="_blank"><i class='bx bxl-github'></i></a> &nbsp; &nbsp;
        <a href="#"><i class='bx bxl-linkedin-square' ></i></a>
    </div>
    <p>© 2024 Experience Bihar. All Rights Reserved.</p>
</footer>